---
import "@workspace/ui/globals.css"
import Main from "@/layouts/main.astro"
import Home from "@/components/Home.astro"
import Testimonios from "@/components/Testimonios.astro"
import Contacto from "@/components/Contacto.astro"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Rodrigo Lasalle | Abogado | Zona Norte</title>
  </head>
  <body>
    <Main>
      <Home/>
      <Testimonios />
      <Contacto />
    </Main>
  </body>
</html>
